<%= form_for(@user, url:user_user_path) do |f| %>
	<label>Image</label>
	<%= f.attachment_field :image %>
    <h4>name</h4>
    <%= f.text_field :name,autofocus: true, class:"form-control",placeholder:"name"%>
    <h4><%= f.submit 'Update', class: "btn btn-default" %></h4>
<% end %>