<div class = "row">
	<div class="col-md-3">
		<h3 class="fas fa-users m-4">ユーザー一覧</h3>
		<%= form_tag(user_users_path,:method => 'get') do %>
		  <div style="text-align: center;">
		  <%= text_field_tag :search %>
		  <%= submit_tag 'Search', :name => nil ,class:"btn btn-outline-success m-4" %>
		</div>
		<% end %>
	</div>

	<div class="col-md-7 border" style="background-color: #fff">
		<%= render 'users',users: @users %>
	</div>
</div>


