<div class = "row">
	<div class="col-xs-12">
		<table class = "table table-striped"　style="table-layout:fixed;">
			<thead>
				<tr>
					<th style="width:200px;">image</th>
					<th style="width:200px;">name</th>
					<th style="width:200px;">show</th>
				</tr>
			</thead>
			<tbody>
				<% @users.each do |user| %>
				<tr>
					<td><%= attachment_image_tag user, :image,:fill, 60,60, format: "jpeg",fallback:"no_image.jpg"%></td>
					<td><%= user.name %></td>
					<td><%= link_to "show",user_user_path(user) %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>


