<% post.comments.each do |comment| %>
  <% unless comment.id.nil? %>
    <%= attachment_image_tag comment.user, :image,:fill, 60,60, format: "jpeg",fallback:"no_image.jpg",class: "user_image"%>
      <%= comment.comment %>
    <br/>
    <%= link_to "#{comment.user.name}", user_user_path(comment.user.id) %>
    <% if comment.user == current_user %>
    <div style="text-align: right;">
      <small><%= link_to '削除する', user_post_comment_path(post,comment), method: :delete, remote: true %></small>
    </div>
    <% end %>
  <% end %>
<% end %>
