<div class = "row">
	<div class="col-md-6">
		<h2>タイムライン</h2>
		<% @posts.each do |post| %>
		<table class="table table-borderless">
			<tbody>
				<tr>
					<td><%= attachment_image_tag post.user, :image,:fill, 60,60, format: "jpeg",fallback:"no_image.jpg",size:"60x60",class: 'user_image' %></td>
					<td><%= link_to post.title,user_post_path(post) %></td>
					<td style="text-align: right;"><small><%= post.created_at %></small></td>
				</tr>
			</tbody>
		</table>
		<% end %>
	</div>

</div>
