<div class="row">


<div class="col-md-12" style="text-align: center;">

	<%= render 'user/users/slick' ,users: @users,slick_number: '1' %>


 <div style="padding-top: 20px">
	<%= render 'posts',posts: @posts %>
 </div>

</div>
</div>


<style>
.posts {
	position: relative;
}

.post_image:hover {
	opacity: 0.6;
}

</style>


<script>
$(function() {
    $('.a').slick({
        dots: true,
    });
});
</script>

