<div class="row">


<div class="col-md-12" style="text-align: center;">

	<%= render 'user/users/slick' ,users: @users,slick_number: '1' %>



 <div style="padding-top: 20px">
	<%= render 'posts',posts: @posts %>
 </div>

 <div style="padding-top: 20px">
 	<%= render 'ranking',all_ranks: @all_ranks %>
 </div>
</div>
</div>
