<logo>stay home</logo>
<% if admin_signed_in?%>
	<nav class="navbar navbar-light">
        <ul>
	         <%= link_to "Users",admin_users_path %>
	         <%= link_to "Posts",admin_posts_path %>
        </ul>

        <form class="form-inline">
		    <input class="form-control mr-sm-2" type="text" placeholder="Search">
		    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>

	</nav>

<% else %>
<% end %>