<% if user_signed_in?%>
    <div class="container mt-5">
      <div class="row">
        <dl class= "col-sm-3 text-center">
          <div class="footer_text">
            <dt class= "footer_dt logo">stay home</dt>
            <dd class="footer_dd">May your time at home be a happy one</dd>
          </div>
        </dl>
        <dl class= "col-sm-3 text-center">
        </dl>
        <dl class= "col-sm-3 text-center">
          <div class="footer_text">
            <dt class= "footer_dt mb-2">stay homeについて</dt>
            <dd class="footer_dd"><%= link_to "ログアウト",destroy_user_session_path, method: :delete,class: "link_text" %></dd>
            <dd class="footer_dd"><%= link_to "退会する",destroy_user_user_path(current_user),method: :patch,data: {confirm: "本当に退会しますか？"} ,class: "link_text" %></dd>
          </div>
        </dl>
        <dl class= "col-sm-3 text-center">
          <div class="footer_text">
            <dt class= "footer_dt mb-2">コミュニティ</dt>
            <dd class= "footer_dd"><i class="fab fa-instagram"></i> Instagram</dd>
            <dd class="footer_dd"><i class="fab fa-facebook-square"></i> Facebook</dd>
            <dd class="footer_dd"><i class="fab fa-twitter"></i> Twitter</dd>
            <dd class="footer_dd"><i class="fab fa-line"></i> Line</dd>
            <dd class="footer_dd"><i class="fab fa-youtube"></i> Youtube</dd>
          </div>
        </dl>
      </div>
    </div>
<% end %>