<% if user_signed_in?%>
    <div class="container mt-5">
      <div class="row">
        <dl class= "col-sm-3 text-center">
          <div class="footer_text">
            <dt class= "footer_dt mb-2">支払い方法</dt>
            <dd class="footer_dd">クレジット</dd>
            <dd class="footer_dd">銀行振り込み</dd>
          </div>
        </dl>
        <dl class= "col-sm-3 text-center">
          <div class="footer_text">
            <dt class= "footer_dt mb-2">ご購入にあたって</dt>
            <dd class="footer_dd">はじめての方へ</dd>
            <dd class="footer_dd">よくあるご質問</dd>
            <dd class="footer_dd"><%= link_to "ログアウト",destroy_user_session_path, method: :delete,class: "link_text" %></dd>
            <dd class="footer_dd"><%= link_to "退会する",destroy_user_user_path(current_user),method: :patch,data: {confirm: "本当に退会しますか？"} ,class: "link_text" %></dd>
          </div>
        </dl>
        <dl class= "col-sm-3 text-center">
          <div class="footer_text">
            <dt class= "footer_dt mb-2">ながのCakeについて</dt>
            <dd class="footer_dd">アクセス</dd>
            <dd class="footer_dd">営業時間</dd>
            <dd class="footer_dd">会社概要</dd>
          </div>
        </dl>
        <dl class= "col-sm-3 text-center">
          <div class="footer_text">
            <dt class= "footer_dt mb-2">コミュニティ</dt>
            <dd class= "footer_dd"><i class="fab fa-instagram"></i> Instagram</dd>
            <dd class="footer_dd"><i class="fab fa-facebook-square"></i> Facebook</dd>
            <dd class="footer_dd"><i class="fab fa-twitter"></i> Twitter</dd>
            <dd class="footer_dd"><i class="fab fa-line"></i> Line</dd>
            <dd class="footer_dd"><i class="fab fa-youtube"></i> Youtube</dd>
          </div>
        </dl>
      </div>
    </div>
<% end %>